@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}
.header {
    display: flex;
    background-color: #4d0b81;
    justify-content: space-between;
}
.wrap {
    width: 1140px;
    margin: 0 auto;
}

.logo {
    margin: 20px 0 20px 80px;
    width: 60px;
    height: 60px;
    background-color: #d9d9d9;
    border-radius: 50%;
}

/* .logo-image {
    border-radius: 50%;
} */

.header-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-grow: 2;
    justify-content: space-between;
    margin-right: 70px;
    margin-left: 100px;
}

.header-list_item {
    color: white;
}
.header-list_item__link {
    /* font-family: "Montserrat"; */
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    /* display: flex;
    align-items: center; */

    color: #ffffff;
}

.buttons {
    margin: 28px 108px 32px 0;
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.header-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    background: rgba(229, 229, 229, 0.6);
    border-radius: 10px;
    border: none;
    padding: 10px;
}
