@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.search_photo {
  width: 100%;
  max-width: 1920px;
}

body {
  font-family: "Montserrat", sans-serif;
}
/* Шапка */
.header {
  display: flex;
  background-color: #4d0b81;
  justify-content: space-between;
}
.footer_project {
  background-color: #6d0db8;
  width: 100%;
  max-width: 1920px;
  height: 400px;
}
.wrap {
  width: 1240px;
  margin: 0 auto;
}

.logo {
  position: absolute;
  width: 80px;
  height: 80px;
  margin-top: 8px;
  margin-left: 80px;
  margin-right: auto;
  margin-bottom: 20px;
  top: auto;
  background-color: #d9d9d9;
  border-radius: 50%;
  background-image: url(./assest/2023-02-01\ 12.02.58.jpg);
  background-size: cover;
}

.header-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-grow: 2;
  justify-content: space-between;
  margin-right: 70px;
  margin-left: 260px;
}

.header-list_item {
  color: white;
}
.header-list_item__link {
  /* font-family: "Montserrat"; */
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  /* display: flex;
    align-items: center; */
  color: #ffffff;
}

.buttons {
  margin: 28px 108px 32px 0;
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.header-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background: rgba(229, 229, 229, 0.6);
  border-radius: 10px;
  border: none;
  padding: 10px;
}

.bt_group {
  width: 400px;
  display: flex;
  justify-content: space-around;

  padding-top: 25px;
  padding-left: 4px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-right: -80px;
}

/* Главный main */

.main_div {
  position: absolute;
  width: 100%;
  max-width: 1920px;

  height: 500px;
  left: 0px;
  top: 100px;
  background: #6d0db8;
  display: flex;
  justify-content: space-between;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
div.div2 {
  height: auto;
  width: 960px;
  border: black;
  background-color: aqua;
  background-image: url(./assest/main1.jpg);
  background-size: cover;
  background-position: center;
  border-bottom-right-radius: 20px;
}

.div1 {
  width: 960px;
}
.block_hello {
  width: 944px;
  height: 460px;
  background: linear-gradient(
    180deg,
    rgba(109, 13, 184, 0.42) 0%,
    rgba(125, 199, 209, 0.42) 100%
  );
  border-radius: 20px;

  margin-top: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
div.img_hello {
  background-position: center;
  border: #450874;
  width: 475px;
  height: 460px;
  background-image: url(./assest/hello_img.jpg);
  background-size: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
div.text_hello {
  width: 475px;
  height: 460px;
  background-position: center;
  border: #450874;
}
.h2_main_div {
  max-width: 566px;
  height: 100px;
  left: 155px;
  top: 78px;
  margin-top: auto;
  margin-left: 155px;
  padding-top: 40px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 32px;
  /* or 100% */
  color: #ffffff;
}
.p_main_div {
  max-width: 490px;
  height: 170px;
  /* left: 155px;
    top: 238px; */
  padding-top: 60px;
  margin-left: 155px;
  margin-right: 165px;
  margin-bottom: 132px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin-top: auto;
  /* or 138% */

  color: #ffffff;
}
.p_hello {
  /* Text 1 */

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* or 125% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;

  padding-right: 46px;
  padding-left: 46px;
  padding-top: 30px;
}
.h2_hello {
  /* H1 */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;

  /* or 133% */

  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  color: #000000;
}

.bt_hello {
  width: 240px;
  height: 40px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background: #6d0db8;
  border-radius: 4px;
  border: none;
  margin-left: 116px;
  margin-right: 116px;
  margin-top: 20px;
}
.main_search {
  width: 950px;
  height: auto;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
}
.block_scroll {
  width: 920px;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.h2_photo {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 22px;
  padding-left: 324px;

  /* or 69% */

  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}
.p_photo {
  width: 548px;
  height: 120px;
  left: 443px;
  top: 1360px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding-top: 20px;
  margin-left: 200px;
  /* or 138% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.name_photo {
  width: 277px;
  height: 16px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  color: #000000;
}
.list_photo {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
  color: #000000;
}
.block_ava {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background-color: bisque;
  background-image: url(./assest/Ellipse\ 10.svg);
  background-size: cover;
}
.block_ava2 {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background-color: bisque;
  background-image: url(./assest/ava2.svg);
  background-size: cover;
}
.block_ava3 {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background-color: bisque;
  background-image: url(./assest/ava1.svg);
  background-size: cover;
}
.bt_user {
  justify-content: center;
  align-items: center;
  padding: 0px 12px;
  width: 70px;
  height: 32;
  left: 4.3%;
  right: 58.06%;
  top: 0%;
  bottom: 0%;
  background: #6d0db8;
  border-radius: 4px;
}

.bt_email {
  justify-content: center;
  align-items: center;
  padding: 0px 12px;
  background-size: cover;
  width: 70px;
  height: 32;
  left: 4.3%;
  right: 58.06%;
  top: 0%;
  bottom: 0%;
  background: #6d0db8;
  border-radius: 4px;
}
.block_photo1 {
  width: 210px;
  display: inline;
}
.block_photo2 {
  width: 210px;
  display: inline;
}
.block_photo3 {
  width: 210px;
  display: inline;
}
.div_text_bloc {
  margin-left: 38px;
}
.div_text_block2 {
  margin-left: 38px;
}
.div_text_block3 {
  margin-left: 38px;
}
.margin_block_ava {
  margin-left: 20px;
}

.block_image {
  background-color: white;
}
/* @-webkit-keyframes active {
  0% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
  }
}
@keyframes active {
  0% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
  }
} */
/* .anim.block_good {
  transform: translateX(50%);
  transition: all 2s;
  opacity: 1;
}
.anim.block_good.active {
  transform: translateX(0);
  opacity: 2;
} */

.image1 {
  background-image: url(./assest/Placeholder.svg);
  background-size: cover;
  width: 586px;
  height: 500px;
  left: 0px;
  top: 0px;
}
.image2 {
  background-image: url(./assest/dog.svg);
  background-size: cover;
  width: 340px;
  height: 428px;
  left: 606px;
  top: 0px;
}
.image3 {
  background-image: url(./assest/fon.svg);
  background-size: cover;
  width: 284px;
  height: 356px;
  left: -3px;
  top: 520px;
}
.image4 {
  background-image: url(./assest/picture.svg);
  background-size: cover;
  width: 284px;
  height: 356px;
  left: -3px;
  top: 520px;
}
.image5 {
  background-image: url(./assest/gig.svg);
  background-size: cover;
  width: 340px;
  height: 428px;
  top: 548px;
  margin-top: -72px;
}

.line_image {
  display: flex;
  justify-content: space-between;
}
.line_image2 {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.text_block_image {
  width: 600px;
  height: 40px;
  left: 420px;
  top: 2060px;
  margin-left: auto;
  margin-right: auto;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 22px;
  /* or 69% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
.p_block_image {
  width: 500px;
  height: 120px;
  left: 470px;
  top: 2120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 20px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* or 138% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
.block_main3 {
  width: 950px;
  height: auto;
  margin-top: -177px;
  margin-left: auto;
  margin-right: auto;
}

.bt_main_block {
  align-items: center;
  padding: 0px 12px;
  gap: 6px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-left: 365px;
  margin-right: auto;
  margin-top: 40px;
  color: #ffffff;
  width: 224px;
  height: 40px;
  left: 608px;
  top: 3196px;
  background: #6d0db8;
  border-radius: 4px;
}
.p_photo1 {
  width: 542px;
  height: 154px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.h2_photo1 {
  width: 518px;
  height: 42px;
  margin-left: 280px;
  margin-right: auto;
  margin-top: 160px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 22px;
  /* identical to box height, or 69% */

  color: #000000;
}
.text_scroll {
  width: 589px;
  height: 22px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 22px;
  margin-left: 680px;

  /* / */
  /* identical to box height, or 69% */
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.p_scroll {
  width: 542px;
  height: 22px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-left: 780px;

  margin-bottom: 40px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.main_div_this_block {
  width: 100%;
  height: 600px;
  background: #4d0b81;
  display: flex;
  overflow: scroll;
}
.block_scrolla {
  margin-top: -200px;
}
.block_hello2 {
  width: 944px;
  height: 460px;
  background: linear-gradient(
    180deg,
    rgba(109, 13, 184, 0.42) 0%,
    rgba(125, 199, 209, 0.42) 100%
  );
  border-radius: 20px;

  margin-top: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
.cart_one {
  width: 360px;
  height: 520px;
  left: 150px;
  top: 40px;
  margin-right: 20px;
  background-color: #d9d9d9;
  border-radius: 15px;
  background-image: url(./assest/unsplash_sbcIAn4Mn14.svg);
  background-size: cover;
}
.cart_two {
  width: 360px;
  height: 520px;
  left: 150px;
  top: 40px;
  margin-right: 20px;

  background-color: #d9d9d9;
  border-radius: 15px;
  background-image: url(./assest/card2.svg);
  background-size: cover;
}
.cart_three {
  width: 360px;
  height: 520px;
  left: 150px;
  top: 40px;
  margin-right: 20px;

  background-color: #d9d9d9;
  border-radius: 15px;
  background-image: url(./assest/card3.svg);
  background-size: cover;
}
.cart_four {
  width: 360px;
  height: 520px;
  left: 150px;
  top: 40px;
  margin-right: 20px;

  background-color: #d9d9d9;
  border-radius: 15px;
  background-image: url(./assest/card4.svg);
  background-size: cover;
}
.child_cart_one {
  background: rgba(220, 209, 242, 0.7);
  border-radius: 20px;
  margin-top: 340px;
  width: 320px;
  height: 160px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 32px;
  padding-bottom: 104px;
}
.child_main_div {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.block_good {
  width: 944px;
  height: 460px;
  background: linear-gradient(
    180deg,
    rgba(109, 13, 184, 0.42) 0%,
    rgba(125, 199, 209, 0.42) 100%
  );
  border-radius: 20px;

  margin-bottom: 160px;

  margin-top: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
div.img_hellos {
  background-position: center;
  border: #450874;
  width: 475px;
  height: 460px;
  background-image: url(./assest/cardViewFooter.svg);
  background-size: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
div.text_hello {
  width: 475px;
  height: 460px;
  background-position: center;
  border: #450874;
}
footer {
  background-color: #4d0b81;
  display: flex;
  column-gap: 56px;
  padding-top: 60px;
  justify-content: center;
  padding-bottom: 48px;
}
.btn_arrow {
  width: 100px;
  height: 100px;
  background-image: url(./assest/arrow.png);
}
.footer-logo {
  width: 100px;
  /* height: 100px; */
  margin-top: 28px;
  /* background-color: #d9d9d9; */
  /* border-radius: 50%; */
}
.footer-info {
  display: flex;
  column-gap: 60px;
  justify-content: space-between;
}
.footer-topics {
  display: flex;
  flex-direction: column;
}

.footer_heading {
  margin-bottom: 18px;
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
}
.footer_text {
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 16px;
}
.footer_text:last-child {
  margin-bottom: 0px;
}
.footer_text_link {
  color: #fff;
  text-decoration: none;
}
.footer_social {
  display: flex;
  column-gap: 10px;
}

/* Recomendations */

.recomendations-desc {
  margin-top: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  /* or 112% */

  display: flex;
  align-items: center;

  color: #000000;

  width: 460px;
}

.recomendations-heading {
  text-align: left;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
  /* or 75% */

  display: flex;

  color: #000000;
}

.recs_gallery-works {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

.grid-gallery {
  margin-top: 40px;
  margin-bottom: 80px;
  display: grid;
  width: 1080px;
  /* gap: 20px; */
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-template-rows: 240px;
  grid-template-areas:
    "photo1 photo1 photo2 photo3"
    "photo4 photo5 photo2 photo3"
    "photo4 photo5 photo6 photo6";
  grid-auto-flow: dense;
  grid-gap: 20px;
}

.photo-1 {
  grid-area: photo1;
}
.photo-2 {
  grid-area: photo2;
}
.photo-3 {
  grid-area: photo3;
}
.photo-4 {
  grid-area: photo4;
}
.photo-5 {
  grid-area: photo5;
}
.photo-6 {
  grid-area: photo6;
}
.photo-7 {
  grid-area: photo7;
}
.photo-8 {
  grid-area: photo8;
}

.recs_bt_child {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;

  width: 120px;
  height: 40px;

  background: #6d0db8;
  border-radius: 10px;
  margin-top: -20px;

  /* Inside auto layout */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;

  flex: none;
  order: 2;
  flex-grow: 0;
}

.recs_child_grid {
  width: 100%;
  max-width: 1080px;
  min-width: 400px;
  margin-left: 200px;
  margin-right: auto;
}

.recs_child_div_photo_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px -20px;
  gap: 30px;

  padding-top: 10px;
  padding-bottom: 10px;

  position: absolute;
  width: 200px;
  height: 260px;
  margin-left: -170px;
  top: 360px;
  margin-top: -20px;
  text-align: center;

  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

.recs_child_div_photo_2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px;
  gap: 10px;

  position: absolute;
  width: 230px;
  height: 106px;
  margin-left: -170px;
  top: 360px;
  margin-top: -20px;

  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

.recs_child_div_photo_3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px;
  gap: 10px;

  position: absolute;
  width: 205px;
  height: 74px;
  margin-left: -170px;
  top: 360px;
  margin-top: -20px;

  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

.recs_child_div_photo_4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px;
  gap: 10px;

  position: absolute;
  width: 225px;
  height: 106px;
  margin-left: 20px;
  top: 677px;
  margin-top: -20px;

  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

.recs_child_div_photo_5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px;
  gap: 10px;

  position: absolute;
  width: 219px;
  height: 74px;
  margin-left: 20px;
  top: 680px;
  margin-top: -20px;

  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

.recs_child_div_photo_6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px;
  gap: 10px;

  position: absolute;
  width: 473px;
  height: 42px;
  margin-left: 20px;
  top: 777px;
  margin-top: -20px;

  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

.recs_header {
  display: flex;
  background-color: #4d0b81;
  justify-content: center;
}

.recs_header-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  /* flex-grow: 2; */
  column-gap: 74px;
  justify-content: space-between;
  margin-right: 70px;
  margin-left: 100px;
}

.recs_header-list_item {
  color: white;
}
.recs_header-list_item__link {
  /* font-family: "Montserrat"; */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  /* display: flex;
    align-items: center; */

  color: #ffffff;
}

.recs_buttons {
  margin: 28px 108px 32px 0;
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.recs_header-btn {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background: rgba(229, 229, 229, 0.6);
  border-radius: 10px;
  border: none;
  padding: 10px;
}

.recs_wrap {
  max-width: 1140px;
  margin: 0 auto;
}

.recs_page {
  padding-top: 40px;
  background-color: #f7f3ff;
}

.logoCamera {
  position: absolute;
  margin-top: -75px;
  margin-left: 31px;
  background: #ffffff;
  border: 2px solid #ffffff;
}

.logoArtific {
  position: absolute;
  margin-left: 97px;
  margin-top: -60px;
}

.recs_logo {
  margin: 20px 0 20px 80px;
  width: 60px;
  /* height: 60px; */
  /* background-color: #d9d9d9; */
  border-radius: 50%;
  position: relative;
}
.recs_logo-img {
  width: 80px;
  height: 60px;
  border-radius: unset;
}

/* HacksPromo */

.hacks-promo-desc {
  margin-top: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  /* or 112% */

  display: flex;
  align-items: center;

  color: #000000;

  width: 580px;
}

.hacks-promo-heading {
  text-align: left;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
  /* or 75% */
  margin-top: 40px;

  display: flex;

  color: #000000;
}

.hacks_grid-gallery {
  margin-top: 40px;
  margin-bottom: 80px;
  display: grid;
  width: 1080px;
  /* gap: 20px; */
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-template-rows: 240px;
  grid-template-areas:
    "hphoto1 hphoto2 hphoto3 hphoto3"
    "hphoto1 hphoto2 hphoto5 hphoto6"
    "hphoto4 hphoto4 hphoto5 hphoto6";
  grid-auto-flow: dense;
  grid-gap: 20px;
}

.hphoto-1 {
  grid-area: hphoto1;
}
.hphoto-2 {
  grid-area: hphoto2;
}
.hphoto-3 {
  grid-area: hphoto3;
}
.hphoto-4 {
  grid-area: hphoto4;
}
.hphoto-5 {
  grid-area: hphoto5;
}
.hphoto-6 {
  grid-area: hphoto6;
}
.hphoto-7 {
  grid-area: hphoto7;
}
.hphoto-8 {
  grid-area: hphoto8;
}

.hacks_child_div_photo_1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;

  position: absolute;
  width: 215px;
  height: 48px;
  left: 170px;
  top: 316px;
  font-size: 20px;

  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

.hacks_child_div_photo_2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;

  position: absolute;
  width: 215px;
  height: 76px;
  left: 460px;
  top: 316px;
  font-size: 20px;

  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

.hacks_child_div_photo_3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;

  position: absolute;
  width: 359px;
  height: 48px;
  left: 750px;
  top: 316px;

  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

.hacks_child_div_photo_4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;

  position: absolute;
  width: 384px;
  height: 48px;
  left: 170px;
  top: 736px;

  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

.hacks_child_div_photo_5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;

  position: absolute;
  width: 153px;
  height: 76px;
  left: 750px;
  top: 636px;

  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

.hacks_child_div_photo_6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;

  position: absolute;
  width: 215px;
  height: 48px;
  left: 1040px;
  top: 636px;

  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

.child_header {
  font-size: 20px;
}

.feed_header {
  display: flex;
  background-color: #4d0b81;
  justify-content: center;
}

.feed_header-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  -moz-column-gap: 74px;
       column-gap: 74px;
  justify-content: space-between;
  margin-right: 70px;
  margin-left: 100px;
}

.feed_header-list_item {
  color: white;
}

.feed_header-list_item__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
}

.feed_buttons {
  margin: 28px 108px 32px 0;
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.feed_header-btn {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background: rgba(229, 229, 229, 0.6);
  border-radius: 10px;
  border: none;
  padding: 10px;
}

.logoCamera {
  position: absolute;
  margin-top: -75px;
  margin-left: 31px;
  background: #ffffff;
  border: 2px solid #ffffff;
}

.logoArtific {
  position: absolute;
  margin-left: 97px;
  margin-top: -60px;
}

.feed_logo {
  margin: 20px 0 20px 80px;
  width: 60px;
  border-radius: 50%;
  position: relative;
}

.feed_logo-img {
  width: 80px;
  height: 60px;
  border-radius: unset;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: rgb(247, 243, 255);
  padding: undefinedpx undefinedpx undefinedpx undefinedpx;
  position: relative;
  overflow: hidden;
  min-height: 0px;
}

.main > .item {
  display: flex;
  flex-direction: column;
  position: relative;
}

.section2__section2 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  min-height: 0px;
}

.section2__flexCol {
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 65.69%;
  position: relative;
  flex-grow: 1;
  min-height: 0px;
  margin: 40px auto 80px;
}

.section2__medium_title1 {
  display: flex;
  align-items: center;
  font: 700 24px/0.75 "Montserrat", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
  letter-spacing: 0px;
  width: 65.54%;
  position: relative;
  min-height: 70px;
  margin: 0px 34.46% 0px 0%;
}

.section2__highlights1 {
  display: flex;
  align-items: center;
  font: 500 16px/1.12 "Montserrat", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
  letter-spacing: 0px;
  width: 49.37%;
  position: relative;
  min-height: 100px;
  margin: 14px 50.63% 0px 0%;
}

.section2__flexCol1 {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 0px;
  margin: 40px 0px 0px;
}

.section2__medium_title {
  display: flex;
  align-items: center;
  font: 700 24px/1.33 "Montserrat", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
  letter-spacing: 0px;
  position: relative;
  min-height: 0px;
}

.section2__flexRow {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  position: relative;
  min-height: 0px;
  margin: 40px 0px 0px;
}

.section2__flexCol2 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 560px;
  min-height: 0px;
}

.section2__box1 {
  display: flex;
  flex-direction: column;
  background: var(--src) center center/cover no-repeat;
  background-color: rgb(238, 238, 238);
  border-radius: 20px 20px 20px 20px;
  position: relative;
  min-height: 500px;
}

.section2__flexRow1 {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  position: relative;
  min-height: 0px;
  margin: 20px 0px 0px;
}

.section2__box2 {
  display: flex;
  flex-direction: column;
  background: var(--src) center center/cover no-repeat;
  background-color: rgb(238, 238, 238);
  border-radius: 20px 20px 20px 20px;
  position: relative;
  flex: 0 1 270px;
  min-height: 360px;
}

.section2__flexCol3 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 366px;
  min-height: 0px;
}

.section2__box3 {
  display: flex;
  flex-direction: column;
  background: var(--src) center center/cover no-repeat;
  background-color: rgb(238, 238, 238);
  border-radius: 20px 20px 20px 20px;
  position: relative;
  min-height: 440px;
}

.section2__box4 {
  display: flex;
  flex-direction: column;
  background: var(--src) center center/cover no-repeat;
  background-color: rgb(238, 238, 238);
  border-radius: 20px 20px 20px 20px;
  position: relative;
  min-height: 420px;
  margin: 20px 0px 0px;
}

.section2__box {
  display: flex;
  flex-direction: column;
  background-color: rgb(109, 13, 184);
  border-radius: 4px 4px 4px 4px;
  width: 23.68%;
  position: relative;
  min-height: 0px;
  margin: 40px auto 0px;
}

.section2__paragraph {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 400 14px/1.28 "Open Sans", Helvetica, Arial, serif;
  color: rgb(255, 255, 255);
  text-align: center;
  letter-spacing: 0px;
  position: relative;
  flex-grow: 1;
  min-height: 40px;
  margin: 0px 14px 0px 13px;
}

.section2__flexRow2 {
  display: flex;
  -moz-column-gap: 18px;
       column-gap: 18px;
  position: relative;
  min-height: 0px;
  margin: 40px 0px 0px;
}

.section2__flexCol4 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 464px;
  min-height: 0px;
}

.section2__box6 {
  display: flex;
  flex-direction: column;
  background: var(--src) center center/cover no-repeat;
  background-color: rgb(238, 238, 238);
  border-radius: 20px 20px 20px 20px;
  position: relative;
  min-height: 240px;
}

.section2__box61 {
  display: flex;
  flex-direction: column;
  background: var(--src) center center/cover no-repeat;
  background-color: rgb(238, 238, 238);
  border-radius: 20px 20px 20px 20px;
  position: relative;
  min-height: 240px;
  margin: 18px 0px 0px;
}

.section2__flexRow3 {
  display: flex;
  -moz-column-gap: 18px;
       column-gap: 18px;
  position: relative;
  min-height: 0px;
  margin: 18px 0px 0px;
}

.section2__box5 {
  display: flex;
  flex-direction: column;
  background: var(--src) center center/cover no-repeat;
  background-color: rgb(238, 238, 238);
  border-radius: 20px 20px 20px 20px;
  position: relative;
  flex: 0 1 223px;
  min-height: 240px;
}

.section2__flexRow4 {
  display: flex;
  -moz-column-gap: 18px;
       column-gap: 18px;
  position: relative;
  min-height: 0px;
}

.section3__section3 {
  display: flex;
  flex-direction: column;
  background-color: rgb(77, 11, 129);
  position: relative;
  flex-grow: 1;
  min-height: 0px;
}

.section3__flexRow {
  display: flex;
  width: 87.5%;
  position: relative;
  flex-grow: 1;
  min-height: 0px;
  margin: 50px auto;
}
@media (min-width: 1920px) and (max-width: 2999px) {
  .section3__flexRow {
    justify-content: flex-start;
    align-items: stretch;
    -moz-column-gap: 0px;
         column-gap: 0px;
  }
}

.section3__flexRow > .item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 160px;
}

.section3__flexRow1 {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  position: relative;
  flex-grow: 1;
  min-height: 0px;
  margin: 0px 0px 138px;
}

.section3__flexRow1 > .item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 78px;
}

.section3__image6 {
  width: 78px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  aspect-ratio: 1.26;
  vertical-align: top;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  position: relative;
  min-height: 0px;
  min-width: 78px;
}

.section3__medium_title2 {
  display: flex;
  align-items: center;
  font: 400 24px/0.75 "Griffy", Helvetica, Arial, serif;
  color: rgb(255, 255, 255);
  letter-spacing: 0px;
  position: relative;
  flex: 1 1 72px;
  min-height: 40px;
  margin: 16px 0px 6px;
}

.section3__flexRow > .spacer {
  flex: 0 1 90px;
}

.section3__flexRow > .item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 222px;
}

.section3__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  min-height: 0px;
  margin: 0px 0px 40px;
}

.section3__flexCol {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  min-height: 0px;
}

.section3__paragraph1 {
  display: flex;
  align-items: center;
  font: 700 13px/1.69 "Montserrat", Helvetica, Arial, serif;
  color: rgb(255, 255, 255);
  letter-spacing: 0px;
  position: relative;
  min-height: 40px;
}

.section3__paragraph2 {
  display: flex;
  align-items: center;
  font: 400 13px/1.69 "Montserrat", Helvetica, Arial, serif;
  color: rgb(255, 255, 255);
  letter-spacing: 0px;
  position: relative;
  min-height: 40px;
  margin: 40px 0px 0px;
}

.section3__paragraph21 {
  display: flex;
  align-items: center;
  font: 400 13px/1.69 "Montserrat", Helvetica, Arial, serif;
  color: rgb(255, 255, 255);
  letter-spacing: 0px;
  position: relative;
  min-height: 40px;
}

.section3__paragraph22 {
  display: flex;
  align-items: center;
  font: 400 13px/1.69 "Montserrat", Helvetica, Arial, serif;
  color: rgb(255, 255, 255);
  letter-spacing: 0px;
  height: 40px;
  position: absolute;
  top: 40px;
  left: 0px;
  right: -34px;
}

.section3__flexRow > .spacer1 {
  flex: 0 1 60px;
}

.section3__flexRow > .item2 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 125px;
}

.section3__wrapper1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  min-height: 200px;
}

.section3__paragraph11 {
  display: flex;
  align-items: center;
  font: 700 13px/1.69 "Montserrat", Helvetica, Arial, serif;
  color: rgb(255, 255, 255);
  letter-spacing: 0px;
  height: 40px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: -97px;
}

.section3__paragraph23 {
  display: flex;
  align-items: center;
  font: 400 13px/1.69 "Montserrat", Helvetica, Arial, serif;
  color: rgb(255, 255, 255);
  letter-spacing: 0px;
  height: 40px;
  position: absolute;
  top: 40px;
  left: 0px;
  right: -97px;
}

.section3__paragraph24 {
  display: flex;
  align-items: center;
  font: 400 13px/1.69 "Montserrat", Helvetica, Arial, serif;
  color: rgb(255, 255, 255);
  letter-spacing: 0px;
  height: 40px;
  position: absolute;
  top: 80px;
  left: 0px;
  right: -97px;
}

.section3__paragraph25 {
  display: flex;
  align-items: center;
  font: 400 13px/1.69 "Montserrat", Helvetica, Arial, serif;
  color: rgb(255, 255, 255);
  letter-spacing: 0px;
  height: 40px;
  position: absolute;
  top: 120px;
  left: 0px;
  right: -97px;
}

.section3__paragraph26 {
  display: flex;
  align-items: center;
  font: 400 13px/1.69 "Montserrat", Helvetica, Arial, serif;
  color: rgb(255, 255, 255);
  letter-spacing: 0px;
  height: 40px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: -97px;
}

.section3__flexRow > .item3 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 186px;
}

.section3__wrapper2 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  min-height: 160px;
  margin: 0px 0px 40px;
}

.section3__paragraph12 {
  display: flex;
  align-items: center;
  font: 700 13px/1.69 "Montserrat", Helvetica, Arial, serif;
  color: rgb(255, 255, 255);
  letter-spacing: 0px;
  height: 40px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: -36px;
}

.section3__paragraph27 {
  display: flex;
  align-items: center;
  font: 400 13px/1.69 "Montserrat", Helvetica, Arial, serif;
  color: rgb(255, 255, 255);
  letter-spacing: 0px;
  height: 40px;
  position: absolute;
  top: 40px;
  left: 0px;
  right: -36px;
}

.section3__paragraph28 {
  display: flex;
  align-items: center;
  font: 400 13px/1.69 "Montserrat", Helvetica, Arial, serif;
  color: rgb(255, 255, 255);
  letter-spacing: 0px;
  height: 40px;
  position: absolute;
  top: 80px;
  left: 0px;
  right: -36px;
}

.section3__paragraph29 {
  display: flex;
  align-items: center;
  font: 400 13px/1.69 "Montserrat", Helvetica, Arial, serif;
  color: rgb(255, 255, 255);
  letter-spacing: 0px;
  height: 40px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: -36px;
}

.section3__flexCol1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  min-height: 0px;
  margin: 0px 0px 8px;
}

.section3__flexCol2 {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 0px;
}

.section3__flexCol1 > .item {
  display: flex;
  flex-direction: column;
  position: relative;
}

.section3__image7 {
  width: 72px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  aspect-ratio: 2.25;
  vertical-align: top;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  position: relative;
  min-height: 0px;
  min-width: 72px;
}

footer {
  background-color: #4d0b81;
  display: flex;
  column-gap: 56px;
  padding-top: 60px;
  justify-content: center;
  padding-bottom: 48px;
}

.footer-logo {
  width: 100px;
  /* height: 100px; */
  margin-top: 28px;
  /* background-color: #d9d9d9; */
  /* border-radius: 50%; */
}
.footer-info {
  display: flex;
  column-gap: 60px;
  justify-content: space-between;
}
.footer-topics {
  display: flex;
  flex-direction: column;
}

.footer_heading {
  margin-bottom: 18px;
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
}
.footer_text {
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 16px;
}
.footer_text:last-child {
  margin-bottom: 0px;
}
.footer_text_link {
  color: #fff;
  text-decoration: none;
}
.footer_social {
  display: flex;
  column-gap: 10px;
}

/*# sourceMappingURL=style.css.map */
